#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
rknn-toolkit/packages/rknn_toolkit-1.4.0-cp35-cp35m-linux_x86_64.whl
rknn-toolkit/packages/rknn_toolkit-1.4.0-cp36-cp36m-linux_x86_64.whl
rknn-toolkit/packages/rknn_toolkit-1.4.0-cp36-cp36m-macosx_10_15_x86_64.whl
rknn-toolkit/packages/rknn_toolkit-1.4.0-cp36-cp36m-win_amd64.whl
rknn-toolkit/packages/rknn_toolkit-1.4.0-cp37-cp37m-macosx_10_15_x86_64.whl
rockx/python/RockX-1.2.0-py3-none-any.whl
